/*Name:Rddney Bradshaw
Class:WEB210
Date:11/29/2022
*/

.logoyellow{
    color:#FFDE5Bff
}
.logoblue{
    color:#050318;
}
.bodybgc{
    background-color:#050318;
}
.navbgc{
    background-color:#FFDE5Bff;
}